@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 1.5s ease-in-out;
}

@keyframes moveLeft {
  0% {
    opacity: 1;
    transform: translateX(75%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.animate-move-left {
  animation: moveLeft 1.5s ease-in-out 4s; /* Delay for 2 seconds */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.animate-fade-out {
  animation: fadeOut 1.5s ease-in-out 2s; /* Delay for 4 seconds */
}

/*line at top  */
@keyframes moveLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-loading-line {
  animation: moveLine 0.8s linear infinite;
}
/* slow motion from left to right and right to left */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slideIn 1.5s ease-in-out;
}

.animate-slide-out {
  animation: slideOut 1.7s ease-in-out forwards;
}

.hidden {
  display: none;
}
